* {
  box-sizing: border-box;
  font-family: 'Roboto', 'Oxygen', sans-serif;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.navbar {
  background-color: lemonchiffon;
  padding: 40px 15px;
  font-size: 40px;
}

.navbar-logo {
  color: mediumseagreen;
  margin-right: 10px;
}

.add-input {
  width: 300px;
  height: 40px;
  font-size: 23px;
  margin-left: 20px;
  margin-top: 15px;
  background-color: transparent;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #555;
}

.add-button {
  font-size: 23px;
  font-weight: 600;
  padding: 8px;
  margin-left: 10px;
}

.habit-title {
  font-weight: 600;
}

.habit-counter {
  display: inline-block;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  margin: 0 15px;
  background-color: darkgreen;
}

.habit {
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
}

.habit-button {
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit-button:hover {
  opacity: 0.8;
}

.habit-count {
  display: inline-block;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  margin: 0 15px;
  background-color: darkseagreen;
}

.habit-increase,
.habit-decrease {
  color: darkgreen;
}

.habit-delete {
  color: mediumseagreen;
}


.reset-button {
  background-color: darkseagreen;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 30px;
  margin-left: 20px;
}

.reset-button:hover {
  scale: 0.8;
}